html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #161a1e;
}
/* 
.navbar {
  position: sticky;
  top: 0;
  background-color: #333;
  padding: 1rem 2rem;
  z-index: 1000;
}

.navbar ul {
  list-style: none;
  display: flex;
  gap: 2rem;
  margin: 0;
  padding: 0;
}

.navbar a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}
  */


.section {
  padding: 100px 20px;
  min-height: 100vh;
  /* border-bottom: 1px solid #fbdc61; */
  /* border-top: 1px solid #fbdc61; */
} 
/* #home {
  background-color: #e0f7fa;
}
#about {
  background-color: #fce4ec;
}
#projects {
  background-color: #e8f5e9;
}
#contact {
  background-color: #fff3e0;
} */
