@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@400;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap');

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  height: 70px;
  width: 100%;
  border-radius: 40px;
  border: 1px solid #fbdc61;
  background: #0a0a0a;
  backdrop-filter: blur(8px);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
}

.nav_container {
  width: 90%;
  max-width: 1200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.name {
  color: #fff;
  font-family: "Libre Baskerville", serif;
  font-weight: bold;
  font-size: 1.2rem;
}
.name span{
  color: #fbdc61;
}

.navbar ul {
  position: relative;
  display: flex;
  gap: 2rem;
  padding: 0;
  list-style: none;
  margin-right: 50px;
}
.prof_links ul {
    color: white;
    font-family: "Libre Baskerville", serif;
    gap: 1rem;
    
}

/* Links */
.navbar a {
  color: white;
  text-decoration: none;
   font-family: "Libre Baskerville", serif;
  font-weight: 400;
  font-style: normal;
  padding: 0.5rem 1.5rem;
  position: relative;
  z-index: 1;
  transition: color 0.3s ease;
}

.navbar a:hover {
  color: #fbdc61;
}

/* Hover rectangle */
.hover-indicator {
  position: absolute;
  top: -10px;
  height: 40px;
  border-radius: 12px;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  transition: all 0.2s ease;
  z-index: 0;
  opacity: 0;
  border: 1px solid #fbdc61;
}


/* Hamburger menu (mobile toggle) */
.hamburger {
  display: none;
  flex-direction: column;
  gap: 4px;
  cursor: pointer;
  z-index: 1100;
  position: absolute;
  right: 35px;
}

.bar {
  width: 25px;
  height: 3px;
  background-color: #fbdc61;
  border-radius: 2px;
  transition: all 0.3s ease;

}

.bar.open:nth-child(1) {
  transform: rotate(45deg) translate(5px, 5px);
}
.bar.open:nth-child(2) {
  opacity: 0;
}
.bar.open:nth-child(3) {
  transform: rotate(-45deg) translate(5px, -5px);
}

/* Responsive behavior */
@media (max-width: 768px) {
  .hamburger {
    display: flex;
  }

  .nav-links {
    position: absolute;
    top: 85px;
    right: 0;
    background: rgba(10, 10, 10, 0.95);
    width: 40%;
    flex-direction: column;
    align-items: center;
    padding: 1.5rem 0;
    gap: 1.2rem;
    opacity: 0;
    pointer-events: none;
    transform: translateY(-10px);
    transition: all 0.3s ease;
    z-index: 999;
  border: 1px solid #fbdc61;
  border-radius: 10px;

  }

  .nav-links.active {
    opacity: 1;
    pointer-events: all;
    transform: translateY(0);
  }

  .hover-indicator {
    display: none;
  }

  .nav_container {
    flex-wrap: nowrap;
    justify-content: space-between;
  }

  .navbar ul {
    margin-right: 0;
    padding: 15px 0;
  }

}
